{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<center>	
		<img src="{{url_for('static',filename='logo.png')}}" class="box" />
	</center>
{% endblock %}
{% block body %}
	<h1>Bienvenido a la Trivia</h1>
	<p>Te mostraremos una pregunta de cada categor&iacute;a, con difrentes respuestas, donde una sola es la correcta.<br>
	   Luego que seleeciones la respuesta correcta, podr&aacute;s elegir otra categor&iacute;a.<br>
	   El juego finaliza cuando hayas contestado de forma correcta una pregunta de cada categor&iacute;a.</p>
{% endblock %}
{% block link %}	
	<a  href="/trivia/categorias">Comenzar</a>
{% endblock %}