{% extends "base.html" %}

{% block head %}
<center>
	{{ super() }}
		<img src="{{url_for('static',filename='logobanner.png',quality=95)}}"/>
{% endblock %}
{% block body %}
		<h1>{{pregunta.resultado}}</h1><br>
		{% for resp in pregunta.repuestas %}
			{% if resp.es_correcta %}
					<h6>{{resp.texto}}</h6>
			{% else %}
				{% if respondido == resp.id %}
					<h5>{{resp.texto}}</h5>
				{% else %}
					<h4>{{resp.texto}}</h4>
				{% endif %}
			{% endif %}
		{% endfor %}
{% endblock %}
{% block link %}
	<br><br>
		{% if not fin %}
			<a href="/trivia/categorias">Volver</a>
		{% else %}
			<a href="/trivia/fin">Fin</a>
		{% endif %}
</center>
{% endblock %}