{% extends "base.html" %}

{% block content %}
	<h1>{{pregunta.resultado}}</h1><br>
	{% for resp in pregunta.repuestas %}
		{% if resp.es_correcta %}
			<strong><a href="/trivia/{{resp.id_pregunta}}/resultado/{{resp.id}}">{{resp.texto}}</a><br></strong>
		{% else %}
			<a href="/trivia/{{resp.id_pregunta}}/resultado/{{resp.id}}">{{resp.texto}}</a><br>
		{% endif %}
	{% endfor %}
	{% if fin %}
		<h2><a  href="/trivia/categorias">Volver</a></h2>
	{% else %}
		<h2><a  href="/trivia/fin">Fin</a></h2>
	{% endif %}
{% endblock %}